body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', Helvetica, Arial, serif;
  color: #666C79;
  background-color: #D0F6FA;
}
.work-body{
  background-color: #5D889A;
}
a{
  color: #7BD3BA;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-bottom: 25px;
}
a:hover{
  color: #efefef;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-top-width: 10px;
  min-width: 60px;
  max-width: 4%;
  height: 1px;
  margin: 50px auto 50px auto;
}

.container-fluid{
  padding: 3% 15%;
}


h1{
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66AF9B;
  margin: 25px auto 25px auto;
}

h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66AF9B;
  font-weight: lighter;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #3E7B69;
  font-size: 1.5em;
  margin: auto auto 10px auto;
}

.white{
  color: white;
}

.pushdown{
  padding-bottom: 25px;
}
.videogame{
  min-width: 200px;
  max-width: 25%;
  float: left;
  padding-right: 30px;
}
.h1name{
  margin: 20 auto 20 auto;
}
.dark-grey{
  background-color: #666C79;
}
.h2name{
  margin: 50px auto 50px auto;
  color: #F7F9F8;
}
.h2name2{
  margin: 50px auto 50px auto;
  color: #F1C790;
}

.hello-p{
  display: inline-block;
  line-height: 2;
  color: #B3DFF1;
}
.contact-p{
  width: 60%;
  margin: 40px auto 100px auto;
  text-align: center;
  line-height: 2;
}
.bottom-container{
  height: 0px;
  width: 100%;
  position: fixed;
  z-index: -10;
  bottom: 0;
  background-color: #66AF9B;
}

.footer-link:hover{
  color: #efefef;
}
.BUTTON_SRZ {
  background: #3E7B69;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      font-family: 'Montserrat', sans-serif;
      font-weight: lighter;
      color:  #efefef;
      padding: 10px;
      text-decoration: none;
      font-size: 25px;
      padding-left: 25px;
      padding-right: 25px;
}
.BUTTON_SRZ:hover {
    background: #ACD5CA;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}

#testimonials {
  background-color: #729795;
  min-height: 400px;
}
.testimonial-image{
  align-items: center;
  border-radius: 100%;
  margin: 0px;
}

.testimonial-text{
  font-size: 1.8rem;
  line-height: 1.5;
  color: white;
}
.contact-me{
  padding-top: 25px;
  background-color: #ACD5CA;
}

.skill-row{
  margin: 25px auto 100px auto;
  vertical-align: middle;
  max-width: 1280px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  line-height: 2;
}
.skateboard{
  min-width: 200px;
  max-width: 25%;
  float: left;
  padding-right: 30px;
}
.coffee{
  min-width: 200px;
  max-width: 25%;
  float: right;
  padding-left: 30px;
}
.copyright{
  color: #3E7B69;
  font-size: .5em;
  margin: 5px auto 5px auto
}
.copyright1{
  color: #66AF9B;
  font-size: .5em;
  margin: 5px auto 5px auto
}
.books{
  min-width: 200px;
  max-width: 25%;
  float: right;
  padding-left: 30px;
}

.fitness{
  min-width: 200px;
  max-width: 25%;
  float: right;
  padding-left: 30px;
}
.readinglevel{
  float: left;
}
