body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', Helvetica, Arial, serif;
  color: #666C79;
}


a{
  color: #7BD3BA;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding-bottom: 25px;
}
a:hover{
  color: #efefef;
}
.ers{
  float: left;
  width: 725px;
  height: 420px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-top-width: 10px;
  width: 4%;
  height: 1px;
  margin: 50px auto 100px auto;
}

img:hover{
}

h1{
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66AF9B;
  margin: 25px auto 25px auto;
}

h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66AF9B;
  font-weight: lighter;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #3E7B69;
  font-size: 1.5em;
  margin: 25px auto 25px auto;
}

.headshot{
  filter: grayscale(100%);
  padding-top: 12.5px;
}

.h3pushdown{
  padding-bottom: 25px;
}
.videogame{
  width: 25%;
  float: left;
  padding-right: 30px;
}
.about{
    position: absolute;
    top: 40px;
    right: 28%;
}
.work{
  position: absolute;
  top: 40px;
  right: 20%;
}
.certs{
  position: absolute;
  top: 40px;
  right: 11%;
}
.h1name{
  margin: 20 auto 20 auto;
}
.h2name{
  top: 50px;
  margin: 50px auto 50px auto;
  color: #F7F9F8;
}
.h2name2{
  top: 50px;
  margin: 50px auto 50px auto;
  color: #F1C790;
}
.top-container{
  display: block;
  height: 100px;
  width: 100%;
  background-color: #E2EBE8;
  position: sticky;
  top: 0;
  z-index: 10;
}
.hello-p{
  display: inline-block;
  width: 40%;
  line-height: 2;
}
.contact-me{
}
.contact-p{
  margin: 40px auto 100px auto;
  width: 40%;
  text-align: center;
  line-height: 2;
}
.profile{
  margin-top: 75px;
  margin-bottom: 25px;
}
.mywork1{
  color: #F7F9F8;
  display: inline-block;
  width: 40%;
  line-height: 2;
}
.middle-container1{
  display: inline-block;
  height: 725px;
  width: 100%;
  background-color: #B1D7F6;
  margin: 0px auto 0px auto;
}
.middle-container2{
  display: inline-block;
  height: 725px;
  width: 100%;
  background-color: #E9A4A2;
  margin: 0px auto 0px auto;
}
.middle-container3{
  display: inline-block;
  height: 725px;
  width: 100%;
  background-color: #F1C790;
  margin: 0px auto 0px auto;
}
.bottom-container{
  display: block;
  height: 130px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #66AF9B;
}
.footer-link{
  display: inline-block;
  position: relative;
  top: 40px;
  width: 9%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 18px;
  line-height: .85;
}
.footer-link:hover{
  color: #efefef;
}
.logo{
  filter: grayscale(100%);
  float: left;
}
.BUTTON_SRZ {
  background: #3E7B69;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      font-family: 'Montserrat', sans-serif;
      font-weight: lighter;
      color:  #efefef;
      font-size: 12px;
      padding: 10px;
      text-decoration: none;
      font-size: 25px;
      padding-left: 25px;
      padding-right: 25px;
}
.BUTTON_SRZ:hover {
    background: #ACD5CA;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.skateboard{
  width: 25%;
  float: left;
  padding-right: 30px;
}
.coffee{
  width: 25%;
  float: right;
  padding-left: 30px;
}
.copyright{
  color: #3E7B69;
  font-size: .5em;
  margin: 5px auto 5px auto
}
.copyright1{
  color: #66AF9B;
  font-size: .5em;
  margin: 5px auto 5px auto
}
.books{
  width: 25%;
  float: right;
  padding-left: 30px;
}

.fitness{
  width: 25%;
  float: right;
  padding-left: 30px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 2fr));
    grid-column-gap: 25px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;

}

.card img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    filter: saturate(60%);
}
.card-p{
  display: inline-block;
  width: 75%;
  line-height: 2;
}
